# dependencies
node_modules/
/.pnp
.pnp.js

# next.js builds
.next/
admin/.next/
client/.next/
out/

# production
build/
dist/

# misc
.DS_Store
*.pem
.env*.local
.env

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db